{% extends 'layout/basic.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'sh_blog/detail.css' %}">
{% endblock %}
{% block content %}
<div class="text_content">
<h1>{{ post.title }}</h1>
    <ul class="date_author">
      <li class="date">{{ post.created }}</li>
      <li class="author">{{ post.author }}</li>
    </ul>
    <img src="{{ post.image.url }}" class="post_image">
    {% autoescape on %}
    <p>{{ post.body|safe }}</p>
    {% endautoescape %}
</div>
{% endblock %}