{% extends 'layout/basic.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'sh_blog/detail.css' %}">
{% endblock %}
{% block content %}
<div class="text_content">
<h1>{{ post.title }}</h1>
    <ul class="date_author">
      <li class="date">{{ post.created }}</li>
      <li class="author">{{ post.author }}</li>
    </ul>
    <img src="{{ post.image.url }}" class="post_image">
    <p>{{ post.body|safe }}</p>
</div>
<h2>Комментарии</h2>
{% for comment in comments %}
    <img src="{{ comment.profile.avatar.url }}" width="100" height="100">
    <p>{{ comment.profile.user.username }}</p>
    <p>{{ comment.publish }}</p>
    <p>{{ comment.body }}</p>
{% empty %}
  <p>Пока здесь нет комментариев, вы можете быть первым!</p>
{% endfor %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Добавить">
</form>
{% endblock %}